@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


:root {
    --primary-font: 'Inter', sans-serif;
}

html {
    background-color: rgb(234, 234, 234);
}

body {
    font-family: var(--primary-font);
}

.content {
    text-align: center;
    margin-top: 30px;
}

.content h1 {
    color:black;
    font-size: 22px;
}
.content h2 {
    color: gray;
    font-size: 15px;
}
.caixa-login {
    height: 300px;
    width: 700px;
    background-color:rgb(255, 255, 255);
    margin-top: 50px;
    border-radius: 10px;
}

.email-label, .senha-label {
    align-items: center;
    justify-content: center;
    margin: 40px;
    display: flex;
}

.container {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fazer-login {
    margin-left: 50px;
    height:50px;
    width: 600px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.cadastre-se{
    display: flex;
    justify-content: center; 
    color:rgb(14, 109, 253);
}

.problema-login {
    margin-top: 15px;
    color: gray;
    display: flex;
}

.falar-com-especialistas {
    margin-left: 10px;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 25px;
    height: 50px;
    width: 200px;
}